DODO_PAYMENTS_ENVIRONMENT=test_mode
SAAS_PUBLIC_URL=http://localhost:3000
BRIDGE_REALTIME_DATABASE_URL=https://YOUR_PROJECT-default-rtdb.asia-southeast1.firebasedatabase.app
BRIDGE_FIREBASE_WEB_API_KEY=YOUR_FIREBASE_WEB_API_KEY
